:root {
  --yellow: #F7F719;
  --darkBlue: #0E2D3D;
  --orange: #EF450F;
  --orangeLight: #e4702c;
}

/*Poppins Font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* @import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap"); */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  overflow-y: auto;
  background: #f0fcff;
  font-family: 'Poppins', sans-serif !important;
}

body {
  font-family: 'Poppins', sans-serif !important;
}

.first-navbar a {
  text-decoration: none;
}

.first-container {
  margin-top: 48px;
  max-width: 100vw;
  /* max-height: 100vh; */
  background: #f0fcff;
  background-image: url(./Images/image\ 10.png);
  /* background-size: 64% 100%; */
  background-size: 64%;
  background-position: right;
  background-repeat: no-repeat;
}

.first-navbar {
  max-width: 100%;
  top: 0;
  left: auto;
  /* background-color: #fed4b6; */
  background-color: #c3e8f8;
  opacity: 0.9;
  z-index: 32;
  border-radius: 64px;
  margin: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.first-navbar ul {
  display: flex;
  align-items: center;
  margin: 0 40px;
}

.first-navbar .logo img {
  margin: 8px;
  max-width: 56px;
  max-height: 56px;
}

.first-navbar ul li {
  list-style: none;
  /* font-family: ; */
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  /* color: #156890; */
  color: #404040;
  margin: 0px 20px;
}

.first-navbar ul li:hover {
  cursor: pointer;
  filter: brightness(0);
}


.left-container {
  /* width: 50%; */
  /* height: 100%; */
  margin-left: 50px;
  /* padding: 20px 0px 0px 40px; */
  padding-top: 64px;
  display: flex;
  flex-direction: column;
}

.left-container h1 {
  /* font-family: "Manrope"; */
  font-style: normal;
  font-weight: 700;
  font-size: 5rem;
  line-height: 109px;
  color: #0e2d3d;
  margin-top: 30px;
}

.theme {
  /* font-family: "Manrope"; */
  font-style: normal;
  /* font-weight: 700; */
  font-size: 2rem;
  line-height: 50px;
  /* color: #156890; */
  color: var(--darkBlue)
}

.first-buttons {
  margin: 8px 0px;

}

.btn1,
.btn2 {
  all: unset;
  height: fit-content;
  /* background: #ff8c38; */
  /* background: var(--orange); */
  /* background: var(--orangeLight); */
  border-radius: 8px;
  /* font-family: "Manrope"; */
  font-style: normal;
  font-size: 1rem;
  /* line-height: 27px; */
  /* color: var(--darkBlue); */
  margin-right: 8px;
  padding: 8px;
  box-shadow: 0px 2px 4px 0px var(--orangeLight);
}

.btn1:hover,
.btn2:hover {
  /* cursor: pointer; */
  /* color: white; */
  /* filter: brightness(1.02); */
  /* background: #0e2d3ddf; */
  box-shadow: 0px 2px 4px 0px var(--darkBlue);
}

.prizeDateWrapper {
  margin: 32px 0px;
}

.prizeDateWrapper div {
  margin: 4px 0px;
}

.prize,
.date {
  display: flex;
  align-items: center;
  /* margin: 8px 0px; */
  /* font-family: "Manrope"; */
  font-style: normal;
  font-weight: 700;
  /* font-size: 32px; */
  font-size: 1.4rem;
  /* line-height: 44px; */
  color: #f0180b;
}

.prize img,
.date img {
  margin-right: 16px;
  /* margin-right: 10px; */
}

.right-container {
  width: 50%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.boxes {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 72%;
}

.track {
  width: 70%;
  /* font-family: "Manrope"; */
  font-style: normal;
  font-weight: 700;
  /* font-size: 48px; */
  font-size: 3rem;
  line-height: 66px;
  text-align: center;
  align-items: center;
  color: #156890;
}

.Idea_Track,
.Startup_Track {
  display: flex;
  align-items: center;
  background: rgba(239, 69, 15, 0.78);
  border-radius: 64px 2px 2px 2px;
  margin: 10px 0px;
  padding: 10px;
  width: 100%;
  height: 200px;

}

.head {
  /* text-decoration: underline; */
  font-size: 24px;
}

.content {
  height: 100%;
  /* font-family: "Manrope"; */
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 27px;
  text-align: center;
  color: #000000;
}

.content p:nth-child(2) {
  margin-top: 20px;
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 75%;
  }

  .first-container {
    min-width: 100vw;
    min-height: fit-content;
    background: #f0fcff;
    background-image: url(./Images/image\ 10.png);
    /* background-size: 100% 50%; */
    /* background-size: 56% 100%; */
    background-size: 56%;
    background-position: right;
    background-repeat: no-repeat;
  }

  .navbar ul {
    display: flex;
    align-items: center;
    margin: 0 20px;
  }

  .navbar ul li {
    list-style: none;
    /* font-family: "Manrope"; */
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #156890;
  }

  .left-container {
    width: 50%;
    margin: 0;
    padding: 0px 30px;
  }

  .left-container h1 {
    font-size: 3rem;
  }

  .btn1,
  .btn2 {
    margin: 10px 10px;
  }

  .Prize_date {
    width: 100%;
  }

  .right-container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .boxes {
    align-items: center;
    width: 100%;
  }

  .content p:nth-child(2) {
    padding: 0px 20px;
  }

  .Idea_Track,
  .Startup_Track {
    border-radius: 14px;
    height: fit-content;
    width: 80%;
  }

  .track {
    width: 100%;
  }

  .icon img {
    /* position: relative; */
    /* bottom: -10px; */
    width: 32px;
    height: 32px;
    object-fit: contain;
  }

  .navbar .logo img {
    margin: 8px;
    max-width: 32px;
    max-height: 32px;
  }
}

@media screen and (max-width: 700px) {
  html {
    font-size: 75%;
  }


  .first-container {
    min-width: 100vw;
    min-height: 100vh;
    background: #f0fcff;
    background-image: url(./Images/image\ 10.png);
    /* background-size: 72% 56%; */
    background-size: 56%;

    background-position: right;
    background-repeat: no-repeat;
  }

  .navbar ul {
    display: flex;
    align-items: center;
    margin: 0 20px;
  }

  .navbar ul li {
    list-style: none;
    /* font-family: "Manrope"; */
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #156890;
  }

  .left-container {
    width: 100%;
    margin: 0;
    padding: 0px 30px;
  }

  .left-container h1 {
    font-size: 3rem;
  }

  .first-buttons {
    flex-direction: column;
  }

  .btn1,
  .btn2 {
    margin: 10px 0px;
  }

  .Prize_date {
    width: 100%;
  }

  .right-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .boxes {
    align-items: center;
    width: 100%;
  }

  .Idea_Track,
  .Startup_Track {
    border-radius: 16px;
    height: fit-content;
    /* width: 90%; */
  }

  .content p:nth-child(2) {
    padding: 0px 20px;
  }

  .track {
    width: 100%;
  }

  .icon img {
    /* position: relative;
    bottom: -10px; */
    width: 40px;
    height: 40px;
  }

  .navbar .logo img {
    margin: 4px;
    max-width: 50px;
    max-height: 60px;
  }

  .judge_card-container {
    display: flex;
    flex-wrap: wrap;
    /* display: grid; */
    /* flex-direction: column; */
    /* grid-template-columns: auto auto auto auto; */
    grid-gap: 20px 4px;
    padding: 2px;
    justify-content: center;
  }
}

/* @media screen and (max-device-width: 1200px), screen and (max-width: 640px) {
} */

@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.time_line {
  width: 100%;
  /* padding: 30px 100px; */
  /* margin: 70px 10px 0px 10px;
  padding: 20px 20px 0px 20px; */
}

.time_line img {
  width: 100%;
}

.page2_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page2_container h2 {
  /* font-weight: 700; */
  font-size: 3.5rem;
  color: #f0180b;
  /* line-height: px; */
  text-align: center;
  /* margin: 10px 0px; */
}

.page2_container_content {
  width: 100%;
  height: fit-content;
}

.page2_container p {
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  color: #156890;
  line-height: 32px;
}

.page2_container h4 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: center;
  color: #f0180b;
  margin-top: 30px;
  margin-bottom: 20px;
}

.discs {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.disc {
  width: 200px;
  height: 200px;
  border-style: solid;
  border-color: #156890;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
}

.line {
  display: flex;
  align-items: center;
  width: 20vw;
  background-color: #0e2d3d;
  height: 2px;
}

.page3_container {
  width: 100%;
  /* height: fit-content; */
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
}

.page3_container_content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
}

.page3_container h4 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: center;
  color: #f0180b;
  margin-top: 30px;
  margin-bottom: 20px;
}

.judge_card-container {
  display: flex;
  flex-wrap: wrap;
  /* display: grid; */
  /* flex-direction: column; */
  /* grid-template-columns: auto auto auto auto; */
  grid-gap: 30px;
  padding: 10px;
  justify-content: center;
}

.judge_card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: min-content;
  background-color: rgba(247, 247, 25, 50%);
  text-align: center;
}

.judge_card h5 {
  font-size: 20px;
}

.judge_card p {
  font-size: 12px;
  margin-bottom: 5px;
}

.judge_card img {
  padding: 10px;
  margin: 10px;
  width: 155px;
  height: 155px;
}

.judge_card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.judge_container {
  padding: 2px 16px;
}

.sponsor-container {
  width: 100%;
  display: flex;
  /* display: grid; */
  grid-template-columns: auto auto;
  grid-gap: 10px;
  /* padding: 10px; */
  /* justify-self: self-end; */
  justify-content: space-around;
}

.sponsor-item {
  width: 300px;
  padding-left: 40px;
  padding-right: 40px;
}

#right-sponsor-item {
  display: inline;
}

.page4_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page4_container_content {
  width: 100%;
  height: fit-content;
}

.page4_container h4 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: center;
  color: #f0180b;
  margin-top: 30px;
  margin-bottom: 10px;
}

.page4_container h5 {
  color: #156890;
  font-size: 24px;
}

.page4_container p {
  color: black;
  font-size: 20px;
}

.footer {
  margin: -1px 0px;
  margin-top: 30px;
  padding: 10px;
  width: 100%;
  color: #ffffff;
  background-color: #0E2D3D;
  display: grid;
  /*grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 0px; */

  justify-content: space-evenly;


}

.footer .cflex {
  display: grid;
}

.socialLogoWrapper a {
  margin: 8px;
  text-decoration: none;
}

.fCol1 {
  grid-area: 1 / 1 / 2 / 2;
}

.fCol2 {
  grid-area: 1 / 2 / 2 / 3;
}

.fCol3 {
  grid-area: 1 / 3 / 2 / 4;
}

.fRow2 {
  grid-area: 2 / 1 / 3 / 4;
}

.socialLogo {
  width: 24px;
  height: 24px;
}

.fCol2 path {
  fill: white;
}

.fCol2 path:hover {
  fill: rgb(152, 74, 255);
}

.footer .fRow2 {
  width: 100%;
  text-align: center;
  font-size: 20px;
}

.fRow2 a {
  color: #fff;
}

.logoFtr {
  width: 88px;
  height: 88px;
  object-fit: contain;
}

.faq-container {
  padding: 10px;
}

@media screen and (max-width: 700px) {

  .judge_card-container {
    display: flex;
    flex-wrap: wrap;
    /* display: grid; */
    /* flex-direction: column; */
    /* grid-template-columns: auto auto auto auto; */
    grid-gap: 10px 2px;
    padding: 3px;
    justify-content: center;
  }

  .footer {
    margin-top: 30px;
  }

}

@media screen and (max-width: 1200px) {
  html {
    font-size: 64%;
  }

  .time_line {
    width: 100%;
    /* padding: 30px 100px; */
    /* margin: 40px 10px 0px 10px; */
    padding: 20px 20px 0px 20px;
  }

  .page2_container p {
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    color: #156890;
    line-height: 30px;
  }

  .page2_container h2 {
    font-weight: 700;
    font-size: 2rem;
    color: #f0180b;
    text-align: center;
    margin: 0px;
  }

  .discs {
    width: 100%;
    display: flex;
    padding: 0px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .disc {
    width: 150px;
    height: 150px;
    border-style: solid;
    border-color: #156890;
    border-radius: 50%;
    display: flex;
    margin: 10px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 500;
  }

  .line {
    display: none;
  }
}



.checkbox-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  /* max-width: 600px; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-group>* {
  margin: 0.5rem 0.5rem;
}

.checkbox-group-legend {
  font-size: 2rem;
  font-weight: 700;
  color: #9c9c9c;
  text-align: center;
  line-height: 1.125;
  margin-bottom: 1.25rem;
  padding: auto;
}

.checkbox-input:focus+.checkbox-tile {
  border-color: #2260ff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;
}

.checkbox-input:focus+.checkbox-tile:before {
  transform: scale(1);
  opacity: 1;
}

.checkbox-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 10rem;
  min-height: 7rem;
  border-radius: 0.5rem;
  /* border: 2px solid #b5bfd9; */
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.15s ease;
  /* position: relative; */
}

.checkbox-tile:before {
  content: "";
  position: absolute;
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  border: 2px solid #b5bfd9;
  background-color: #fff;
  border-radius: 50%;
  top: 0.25rem;
  left: 0.25rem;
  opacity: 0;
  transform: scale(0);
  transition: 0.25s ease;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' fill='%23FFFFFF' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpolyline points='216 72.005 104 184 48 128.005' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'%3E%3C/polyline%3E%3C/svg%3E");
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.checkbox-tile:hover {
  border-color: #2260ff;
}

.checkbox-tile:hover:before {
  transform: scale(1);
  opacity: 1;
}

.checkbox-wrapper {
  padding: 5px;
  margin-left: 10px;
}

.checkbox-icon svg {
  width: 5rem;
  height: 5rem;
}

.checkbox-label {
  color: #156890;
  font-weight: bold;
  transition: 0.375s ease;
  text-align: center;
  margin-top: 3px;
}

/* timeline */


.timeline {
  position: relative;
  width: 660px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 1em 0;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: rgb(80,80,80);
  background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
  background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  
  z-index: 5;
}

.timeline li {
  padding: 1em 0;
}

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-l {
  position: relative;
  width: 300px;
  float: left;
  text-align: right;
}

.direction-r {
  position: relative;
  width: 300px;
  float: right;
}

.flag-wrapper {
  position: relative;
  display: inline-block;
  
  text-align: center;
}

.flag {
  position: relative;
  display: inline;
  background: rgb(248,248,248);
  padding: 6px 10px;
  border-radius: 5px;
  
  font-weight: 600;
  text-align: left;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 50%;
  right: -40px;
  content: ' ';
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  background: #fff;
  border-radius: 10px;
  border: 4px solid rgb(255,80,80);
  z-index: 10;
}

.direction-r .flag:before {
  left: -40px;
}

.direction-l .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: rgb(248,248,248);
  border-width: 8px;
  pointer-events: none;
}

.direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: rgb(248,248,248);
  border-width: 8px;
  pointer-events: none;
}

.time-wrapper {
  display: inline;
  
  line-height: 1em;
  font-size: 0.66666em;
  color: rgb(250,80,80);
  vertical-align: middle;
}

.direction-l .time-wrapper {
  float: left;
}

.direction-r .time-wrapper {
  float: right;
}

.time {
  display: inline-block;
  padding: 4px 6px;
  background: rgb(248,248,248);
}

.desc {
  margin: 1em 0.75em 0 0;
  
  font-size: 0.77777em;
  font-style: italic;
  line-height: 1.5em;
}

.direction-r .desc {
  margin: 1em 0 0 0.75em;
}

/* ================ Timeline Media Queries ================ */

@media screen and (max-width: 660px) {

.timeline {
 	width: 100%;
	padding: 4em 0 1em 0;
}

.timeline li {
	padding: 2em 0;
}

.direction-l,
.direction-r {
	float: none;
	width: 100%;

	text-align: center;
}

.flag-wrapper {
	text-align: center;
}

.flag {
	background: rgb(255,255,255);
	z-index: 15;
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: -30px;
	left: 50%;
	content: ' ';
	display: block;
	width: 12px;
	height: 12px;
	margin-left: -9px;
	background: #fff;
	border-radius: 10px;
	border: 4px solid rgb(255,80,80);
	z-index: 10;
}

.direction-l .flag:after,
.direction-r .flag:after {
	content: "";
	position: absolute;
	left: 50%;
	top: -8px;
	height: 0;
	width: 0;
	margin-left: -8px;
	border: solid transparent;
	border-bottom-color: rgb(255,255,255);
	border-width: 8px;
	pointer-events: none;
}

.time-wrapper {
	display: block;
	position: relative;
  /* font-size: 3rem; */
	margin: 4px 0 0 0;
	z-index: 14;
}

.direction-l .time-wrapper {
	float: none;
}

.direction-r .time-wrapper {
	float: none;
}

.desc {
	position: relative;
	margin: 1em 0 0 0;
	padding: 1em;
	background: rgb(245,245,245);
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
	-moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
	box-shadow: 0 0 1px rgba(0,0,0,0.20);
	
  z-index: 15;
}

.direction-l .desc,
.direction-r .desc {
	position: relative;
	margin: 1em 1em 0 1em;
	padding: 1em;
	
  z-index: 15;
}

}

@media screen and (min-width: 400px ?? max-width: 660px) {

.direction-l .desc,
.direction-r .desc {
	margin: 1em 4em 0 4em;
}

}